@charset "utf-8";
/* CSS Document */
/* General */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
html, body {
	height: 100%;
}
body {
	font-family: "Asap", sans-serif;
	display: flex;
	flex-direction: column;
	background-color: var(--amarillo-claro);
}
a, button, img {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* Estilos */ :root {
	--azul: #AEDEE0;
	--amarillo: #F5F19C;
	--naranja: #EF9D71;
	--azul-oscuro: #004444;
	--amarillo-oscuro: #4D4D13;
	--naranja-oscuro: #3E120B;
	--azul-claro: #DCF1F2;
	--amarillo-claro: #FBF9D6;
	--naranja-claro: #F5C5AA;
	--negro: #332b29;
}
h1 {
	font-family: "Dosis", sans-serif;
	font-size: 2.986rem;
}
h2 {
	font-family: "Dosis", sans-serif;
	font-size: 2.488rem;
	font-weight: 700;
}
h3 {
	font-family: "Dosis", sans-serif;
	font-size: 2.074rem;
	font-weight: 700;
}
h4 {
	font-family: "Dosis", sans-serif;
	font-size: 1.728rem;
	font-weight: 700;
}
h5 {
	font-family: "Dosis", sans-serif;
	font-size: 1.44rem;
	font-weight: 700;
}
h6 {
	font-family: "Dosis", sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
}
p {
	font-family: "Asap", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.2px;
}
/* Main */
main {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.boton-primario {
	font-family: "Dosis", sans-serif;
	font-size: 1.44rem;
	font-weight: 700;
	padding: 16px 32px;
	background-color: var(--amarillo);
	border: solid 1px var(--amarillo-oscuro);
	border-radius: 40px;
	text-align: center;
	color: var(--amarillo-oscuro);
}
.boton-secundario {
	font-family: "Dosis", sans-serif;
	font-size: 1.44rem;
	font-weight: 600;
	padding: 16px 32px;
	background-color: var(--naranja);
	border: solid 1px var(--naranja-oscuro);
	border-radius: 32px;
	text-align: center;
	color: var(--naranja-oscuro);
}
/* INDEX */
#index-main {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 132px;
	width: 100%;
	margin: 71px 0 132px;
}
#cover {
	width: 100%;
	height: 78vh;
	max-height: 882px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	min-height: 480px;
}
#contenido-cover {
	width: 912px;
	min-width: 348px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--amarillo);
	border: solid 1px var(--amarillo-oscuro);
	border-radius: 44.6px;
	padding: 24px;
	position: relative;
	z-index: 1;
	gap: 48px;
}
#cover-background {
	position: absolute; /* me parece mejor este atributo en lugar de fixed para que el video se desplace normalmente junto al contenido */
	z-index: -1;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover; /* hice ajustes ya que una parte del video se tapaba por el navegador del header */
	transform: translate(-50%, -50%);
}
#contenido-cover div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--amarillo);
	gap: 32px;
	padding-left: 16px;
}
.contenido-img { /*le puse un class a la imagen para el borde*/
	border: solid 1px var(--amarillo-oscuro);
	border-radius: 16px;
}
#cover-article {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
#cover-article h3 {
	color: var(--amarillo-oscuro);
}
#cover-article p {
	font-size: 1.266rem;
}
.icon-button {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	font-family: "Dosis", sans-serif;
	font-size: 1.266rem;
	font-weight: 500;
	color: var(--amarillo-oscuro);
	background: var(--amarillo-claro);
	width: fit-content;
	padding: 5.72px 17.72px 5.72px 5.72px;
	border-radius: 30px;
}
#botonera-index {
	z-index: 1;
	transform: translate(0, -50%);
	width: 100%;
	display: flex; 
	justify-content: center;
}
#botonera-index-contenedor {
	display: flex;
	width: 912px;
	gap: 48px;
}
#botonera-index a {
	width: 100%;
	min-width: 200px;
	padding: 16px 24px;
	font-size: 1.5rem;
	text-align: center;
	border-radius: 16px;
}
.boton-index-1 {
	color: var(--amarillo-oscuro);
	border: solid 1px var(--amarillo-oscuro);
	background-color: var(--amarillo);
}
.boton-index-2 {
	color: var(--naranja-oscuro);
	border: solid 1px var(--naranja-oscuro);
	background-color: var(--naranja);
}
.boton-index-3 {
	color: var(--azul-oscuro);
	border: solid 1px var(--azul-oscuro);
	background-color: var(--azul);
}
#previsualizar-perritos {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 72px;
}
/* SLIDE PERRITOS */
.slider-perritos {
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 310px;
}
.slider-perritos-contenedor {
	display: flex;
	animation-duration: 80s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	white-space: nowrap;
	position: absolute;
	top: 0;
	gap: 24px;
	left: 0;
	animation-name: slide-left;
	align-items: center;
	height: 310px;
}
.item-perrito {
	height: 300px;
	overflow: hidden;
	border-radius: 16px;
	border: solid 1px var(--negro);
}
.item-perrito h6 {
	position: sticky;
	bottom: 0;
	width: 100%;
	background: var(--naranja);
	padding: 8px 16px;
	color: var(--negro);
	border-top: solid 1px var(--naranja-oscuro);
}
.item-perrito:nth-of-type(3n + 1) h6 {
	background-color: var(--amarillo);
}
.item-perrito:nth-of-type(3n + 2) h6 {
	background-color: var(--naranja);
}
.item-perrito:nth-of-type(3n) h6 {
	background-color: var(--azul);
} /* se me ocurrió poner un color de fondo diferente a cada perrito pero capaz no queda muy bien porque ya arriba se repiten lo tres colores en los botones, que opinan? */
@keyframes slide-left {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
#cifras-de-exito {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	padding: 48px 0;
	background-color: var(--azul);
	color: var(--azul-oscuro);
	font-size: 2rem;
	text-align: center;
	border-top: solid 1px var(--azul-oscuro);
	border-bottom: solid 1px var(--azul-oscuro);
}
.item-exito {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}
.cifra {
	font-family: "Dosis", sans-serif;
	font-size: 3.998rem;
	font-weight: 700;
}
.dato {
	font-family: "Dosis", sans-serif;
	font-weight: 500;
	font-size: 1.66rem;
	max-width: 150px;
	text-align: left;
}
#sobre-la-fundacion {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0 48px;
	max-width: 1392px;
}
#contenido-fundacion {
	display: flex;
	border-radius: 16px;
	border: solid 1px var(--naranja-oscuro);
	background-color: var(--amarillo);
	overflow: hidden;
	width: 100%;
}
#contenedor-img-fundacion {
	overflow: hidden;
	width: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(img/index/quienessomos.png);
}
#contenedor-info-fundacion {
	flex: 1.2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	padding: 48px;
	gap: 48px;
}
#contenido-fundacion article {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
#contenido-fundacion h3 {
	color: var(--naranja-oscuro);
}
#contenido-fundacion p {
	max-width: 600px;
	font-size: 1.2rem;
}
/* FIN INDEX */
/* PERRITOS */
.encabezado {
	height: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.encabezado-naranja {
	background-color: var(--naranja);
	color: var(--naranja-oscuro);
	border-bottom: solid 1px var(--naranja-oscuro);
}
.contenedor-encabezado {
	width: 100%;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	justify-content: space-between;
	align-items: center;
}
.contenedor-encabezado img {
	height: max-content;
	position: sticky;
	transform: translate(0, 30px) rotate(9deg);
}
.main-perritos {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 72px 0;
}
.contenedor-main-perritos {
	display: flex;
	gap: 24px;
}
.filtros {
	flex: 0 0 250px;
	max-width: 300px;
	min-width: 200px;
	padding: 24px;
	overflow-y: auto;
	border-radius: 15px;
	background: var(--amarillo);
	border: solid 1px var(--amarillo-oscuro);
	height: fit-content;
	gap: 12px;
	display: flex;
	flex-direction: column;
}
.filtros div {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.filtros h4 {
	margin-bottom: 12px;
}
.filtros h6 {
	margin-top: 12px;
}
.filtros button{
	display: flex;
	font-family: "Dosis", sans-serif;
	font-size: 1.05rem;
	font-weight: 500;
	color: var(--amarillo-oscuro);
	background: var(--amarillo-claro);
	width: fit-content;
	padding: 5.72px 17.72px;
	border-radius: 30px;
	border: 0px;
	margin-top: 12px;
}
.filtros label{
	margin-left: 8px;
}
.perfiles {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	width: 100%;
	height: fit-content;
}
.perrito {
	background-color: #fff;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid 1px var(--amarillo-oscuro);
	overflow: hidden;
	transition: all 0.3s ease;
}
.perrito:hover{
		transform: scale(1.03);
	transform-origin: center;
}
.perrito img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	transform: scale(1.06); /* hay que reemplazar las imagenes por unas sin bordes redondeados tuve que aplicar un efecto de escala mientras tanto*/
}
.perrito h6 {
	position: sticky;
	bottom: 0;
	width: 100%;
	background: var(--azul);
	padding: 8px 16px;
	color: var(--azul-oscuro);
	border-top: solid 1px var(--azul-oscuro);
	text-align: center;
}
/* FIN PERRITOS */
/* FUNDACIÓN */
/* FIN FUNDACIÓN */
/* PREGUNTAS FRECUENTES */
/* FIN PREGUNTAS FRECUENTES */
/* COLABORAR */
/* FIN COLABORAR */
/* DONAR */

/*============================*/
.donacion {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 154px 264px;
	align-items: center;
	background-color: var(--amarillo-claro);
}
.parrafodonacion {
	max-width: 650px;
	height: 302px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 35px;
	margin-left: 48px;
}

.parrafodonacion h2 {
	color: var(--naranja);
}
.botonprimario {}

.boton-Donar {
	width: 360px;
	height: 64px;
	background-color: var(--naranja);
	padding: 16px 48px;
	text-align: center;
	border-radius: 30px;
	color: white;
	font-family: "Dosis";
	font-size: 32px;
	transform-origin: center;
	padding-left: 1px;
	padding-right: 0px;
	padding-top: 10px;
}

.boton-Donar:hover {
	background-color: var(--naranja-oscuro);
}

.boton-Donar:active {
	background-color: var(--naranja-claro);
	color: var(--naranja-oscuro);
}

.boton-Donar2 {
	width: 360px;
	height: 64px;
	background-color: var(--naranja);
	padding: 16px 48px;
	text-align: center;
	border-radius: 30px;
	color: white;
	font-family: Dosis;
	font-size: 28px;
	transform-origin: center;
	padding-left: 1px;
    padding-right: 0px;
    padding-top: 10px;
}

.boton-Donar2:hover {
	background-color: var(--naranja-oscuro);
}

.boton-Donar2:active {
	background-color: var(--naranja-claro);
	color: var(--naranja-oscuro);
}

.foto_Donar {
border-radius: 40px; 
border: 8px solid var(--naranja);
}
/*============================*/
.necesitamos {
	width: 100%;
	height: 444px;
	background-color: var(--naranja);
	display: flex;
	padding: 80px 264px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;
	color: white;
}
.necesitamosarticulos {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 80px;
	font-size: 32px;
	text-align: center;
	align-self: stretch;
}
section article div {
	font-family: Dosis;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
}
/*============================*/
.dinero {
	width: 100%;
	height: 881px;
	display: flex;
	flex-direction: column;
	background-color: var(--amarillo-claro);
	padding: 0px 264px;
	justify-content: center;
	align-items: center;
	gap: 48px;
}
.cadacentavo {
	display: flex;
	flex-direction: row;
	padding-top: 68px;
	width: 1392px;
	height: 440px;
	margin: 0px auto;
	justify-content: center;
	align-items: center;
	gap: 48px;
	align-self: stretch;
}
.textocadacentavo {
	width: 650px;
	height: 320px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 46px;
}

.textocadacentavo h2 {
	color: var(--naranja);
}

.precios {
	display: flex;
	height: 250px;
	justify-content: center;
	align-items: center;
	gap: 48px;
}
.monto {
	text-align: center;
	font-family: Dosis;
	font-size: 40px;
	font-weight: 600;
}
.producto {
	text-align: center;
	font-family: Asap;
	font-size: 25px;
	font-weight: 400;
}
/*============================*/
.medicamentos {
	width: 100%;
	padding: 0px 164px;
	display: flex;
	flex-direction: column;
	background-color: var(--amarillo-claro);
	gap: 86px;
}
.fotoytexto {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 48px;
}
.textomedicamentos {
	max-width: 650px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 30px;
	gap: 10px;
}

.textomedicamentos h2 {
	color: var(--naranja);
}

.grid-container {
	width: 1393px;
	height: 1134px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 48px;
}
article ul li {
	width: 426px;
	height: 149px;
	display: flex;
	padding: 24px;
	align-items: flex-start;
	gap: 24px;
	border-radius: 24px;
	background-color: var(--naranja);
	box-shadow: -10px 9px 20.9px 0px rgba(29, 47, 69, 0.30);
}
.grilla-medicamentos {
	align-items: center;
	margin: 0px auto;
	margin-bottom: 96px;
}
.texto-medicamento p {
	font-family: Dosis;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 36px;
	color: white;
}
.descripcion-medicamento p {
	font-family: Dosis;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
}
.flex-medicamentos {
	display: flex;
	flex-direction: column;
}
/* FIN DONAR*/


/* Page not found */

.not-found {
	width: 100%;
	padding-bottom: 12%;
	margin: 0px auto;
	background-color: var(--naranja-claro)
	gap: 40px;
}

.mensaje-not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
	padding-top: 12%;
	color: var(--naranja);
	font-size: 2em;
}

.salchichin {
	animation: salchicha 3s linear infinite;
    }

@keyframes salchicha {
    0% {
        transform: rotate(-360deg);
    }
}


/* Fin Page not found */


/* Header y Footer */
header, footer {
	width: 100%;
	color: #191414;
	display: flex;
	justify-content: center;
	padding: 0 20px;
	align-items: center;
}
header a, footer a {
	font-family: "Dosis", sans-serif;
}
/* Header */
header, footer {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0 20px;
}
header a, footer a {
	font-family: "Dosis", sans-serif;
}
/* Header */
header {
	background: var(--azul);
	color: var(--azul-oscuro);
	border-bottom: solid 1px var(--azul-oscuro);
}
header nav, header nav ul {
	display: flex;
}
header nav {
	width: 100%;
	max-width: 1200px;
	justify-content: space-between;
	gap: 50px;
	font-weight: 700;
	font-size: 1.2rem;
	margin: 12px;
}
header nav ul {
	width: 100%;
	justify-content: flex-end;
	gap: 25px;
	align-items: center;
	flex-wrap: wrap;
}
header a {
	color: var(--azul-oscuro);
}
header li a {
	display: flex;
	align-items: center;
	border-radius: 5px;
	padding: 8px 20px;
	min-width: max-content;
	letter-spacing: 0.03rem;
}
header li a:hover {
	background: var(--azul-claro);
}
.boton-destacado a {
	color: var(--naranja-oscuro);
	background: var(--naranja);
	border: solid 1px var(--naranja-oscuro);
}
.boton-destacado a:hover {
	background: var(--amarillo);
	color: var(--amarillo-oscuro);
	border: solid 1px var(--amarillo-oscuro);
	transform: scale(1.03);
	transform-origin: center;
}
/* Footer */
footer {
	background: var(--naranja);
	color: var(--naranja-oscuro);
	border-top: solid 1px var(--naranja-oscuro);
}
footer a {
	color: var(--naranja-oscuro);
}
.footer-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	margin: 48px 0;
	gap: 48px;
}
footer nav img {
	width: fit-content
}
.site-map img {
	margin-left: 12px;
}
.site-map {
	flex-grow: 1;
}
.site-map ul {
	display: flex;
	margin-top: 18px;
	flex-direction: column;
	gap: 12px;
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: 0.03rem;
}
.site-map a {
	color: var(--naranja-oscuro);
	padding: 4px 12px;
	border-radius: 5px;
}
.site-map a:hover {
	background: var(--naranja-claro);
}
.info-contacto {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	max-width: 240px;
	gap: 14px;
}
.redes-sociales {
	display: flex;
	align-content: center;
	gap: 12px;
	padding: 8px 20px;
	background: var(--naranja-claro);
	border-radius: 30px;
}
.redes-sociales a {
	display: flex;
	align-content: center;
}
.redes-sociales img:hover {
	transform: scale(1.09);
	transform-origin: center;
}
/* Formulario Footer */
.formulario-contacto {
	flex-grow: 1;
	margin-top: 50px;
}
.formulario-contacto form {
	display: flex;
	flex-direction: column;
	width: 500px;
}
.formulario-contacto input, .formulario-contacto textarea {
	margin-bottom: 12px;
	height: 40px;
	border: 1px solid var(--amarillo-oscuro);
	border-radius: 14px;
	padding: 14px;
}
.formulario-contacto textarea {
	min-width: 500px;
	max-width: 500px;
	min-height: 60px;
	max-height: 120px;
}
textarea#mensaje, input#nombre, input#correo {
	font-family: "Asap", sans-serif;
	font-size: 0.9rem;
}
::placeholder, ::-ms-input-placeholder {
	color: var(--gris-claro);
}
.formulario-contacto button {
	padding: 8px 20px;
	border: none;
	border-radius: 20px;
	width: fit-content;
	background: var(--amarillo);
	font-family: "Dosis", sans-serif;
	font-weight: 700;
	font-size: 1rem;
	color: var(--amarillo-oscuro);
	letter-spacing: 0.03rem;
	border: 1px solid var(--amarillo-oscuro);
}
.formulario-contacto button:hover {
	background-color: var(--amarillo-claro);
	transform: scale(1.03);
	transform-origin: center;
}

/*@MEDIA*/

@media screen and (max-width: 850px) {

	#botonera-index-contenedor {
		gap: 16px;
	}

	#contenido-fundacion {
		flex-direction: column;
	}

	#contenedor-info-fundacion {
		gap: 32px;
	}

	#contenedor-img-fundacion {
		overflow: hidden;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(img/quienessomos1.png);
	}

}




@media screen and (max-width: 600px) {

	html {
		font-size: 110%;
	}
	
	/* Header y Footer */

	header {
		padding: 24px;
	}

	header nav, header nav ul {
		flex-direction: column;

	}

	header nav {
		align-items: center;
	}

	header li a {
		display: flex;
		align-items: center;
		border-radius: 5px;
		padding: 8px 20px;
		min-width: max-content;
		letter-spacing: 0.03rem;
	}


	/* Footer */

	.footer-container {
		flex-direction: column;
	}

	.site-map ul {
		gap: 24px;
	}

	.info-contacto {
		align-items: center;
		max-width: 600px;
	}

	.redes-sociales {
		gap: 24px;
	}

	/* Formulario Footer */

	.formulario-contacto form {
		width: 100%;
		gap: 16px;
	}

	.formulario-contacto input, .formulario-contacto textarea {
		height: 56px;
		width: 100%;
		min-width: 100%;
	}

	.formulario-contacto textarea {
		height: 152px;
	}

	.datos {
		width: 100%;
		display: flex;
		gap: 16px;
		justify-content: center;
		text-align: center;
		flex-direction: column;
		margin: 48px 0px;
	}

	/*INDEX*/

	#cover video {
		display: none;
	}

	#cover {
		width: 100%;
		height: 100%;
		justify-content: center;
		padding: 56px 24px;
	}

	#contenido-cover {
		width: 100%;
		flex-direction: column;
		padding: 32px 24px;
	}

	#botonera-index {
		justify-content: center;
		margin: 100px 0px;
		padding: 0 24px;
	}

	#botonera-index-contenedor {
		flex-wrap: wrap;
		justify-content: center;
		position: relative;
		top: 50%;
		width: 100%;
	}
	#botonera-index a {
		width: 100%;
	}
	
	#cifras-de-exito {
		flex-direction: column;
		gap: 48px;
	}

	#sobre-la-fundacion {
		padding: 0 24px;
	}

	#contenido-fundacion {
		flex-direction: column;
	}

	#contenedor-info-fundacion {
		gap: 32px;
	}

	/* FIN INDEX */
}
