@charset "utf-8";
/* CSS Document */

/* General */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
	text-decoration: none;
}

html, body {
    height: 100%;
}

body {
	font-family: "Asap", sans-serif;
	display: flex;
	flex-direction: column;
}

a, button, img {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Main */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
	text-decoration: none;
}

html, body {
    height: 100%;
}

body {
	font-family: "Asap", sans-serif;
	display: flex;
	flex-direction: column;
}

a, button {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Main */

:root {
	--azul: #AEDEE0;
	--amarillo: #F5F19C;
	--naranja: #EF9D71;
	--azul-oscuro: #004444;
	--amarillo-oscuro: #4D4D13;
	--naranja-oscuro: #3E120B;
	--azul-claro: #DCF1F2;
	--amarillo-claro: #FBF9D6;
	--naranja-claro: #F5C5AA;
}

/* Main */
main {
	flex: 1;
}

/* INDEX */
#cover {
	width: 100%;
	height: 78vh;
	max-height: 882px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#contenido-cover {
	width: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--amarillo);
	border: solid 1px var(--amarillo-oscuro);
	border-radius: 24px;
	padding: 16px;

}

#cover-background {
	position: fixed;
	z-index: -1;
}

#contenido-cover div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 300px;
	background-color: var(--amarillo);
	display: flex;
	gap: 32px;
	padding: 24px 16px;
}

/* #contenido-cover img {
	border-radius: 16px;
	border: solid 1px var(--amarillo-oscuro);
}

.icon-button img {
	border-style: none;
	border-color: var(--amarillo);
} */

/*le aplique el borde a la imagen de portada del calendario y se le aplico tambien al icono. Intente sacarlo aplicando del atributo none al border-style con este selector pero no funcionaa D: voy a ver como lo arreglo pero si alguien sabe genial*/

#cover-article {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.icon-button {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
}

#botonera-index {
	width: 100%;
	height: 1vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5vw;
	z-index: 1;
}

#botonera-index a {
	width: 15vw;
	min-width: 150px;
	padding: 16px 24px;
	font-size: 1.5rem;
	text-align: center;
	border-radius: 8px;
}


.boton-index-1 {
	color: var(--amarillo-oscuro);
	border: solid 1px var(--amarillo-oscuro);
	background-color: var(--amarillo);
}

.boton-index-2 {
	color: var(--naranja-oscuro);
	border: solid 1px var(--naranja-oscuro);
	background-color: var(--naranja);
}

.boton-index-3 {
	color: var(--azul-oscuro);
	border: solid 1px var(--azul-oscuro);
	background-color: var(--azul);
}

#previsualizar-perritos {
	width: 100%;
	padding: 100px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 72px;
	background-color: var(--amarillo-claro);
}

#h-de-prueba {
	font-size: 1.8rem;
	color: var(--amarillo-oscuro);
}

#carrousel {
	width: 100%;
	display: flex;
	gap: 32px;
	overflow-x: scroll;
	padding: 0px 72px;
}

.item-carrousel {
	width: 300px;
	height: 300px;
	border-radius: 16px;
}

.boton-primario {
	padding: 16px 32px;
	background-color: var(--amarillo);
	border: solid 1px var(--amarillo-oscuro);
	border-radius: 32px;
	text-align: center;
	color: var(--amarillo-oscuro);
}

#cifras-de-exito {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 32px 72px;
	background-color: var(--azul);
	color: var(--azul-oscuro);
	font-size: 2rem;
	text-align: center;
	border-top: solid 1px var(--azul-oscuro);
	border-bottom: solid 1px var(--azul-oscuro);
}

#sobre-la-fundacion {
	width: 100%;
	padding: 32px 72px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--amarillo-claro);
}

#contenido-fundacion {
	display: flex;
	height: 600px;
	background-color: var(--amarillo);
	border-radius: 16px;
	border: solid 1px var(--naranja-oscuro);
}

#contenido-fundacion div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 32px 80px 32px 32px;
	
}

#contenido-fundacion article {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

#quienes-somos-img {
	border-radius: 16px;
}

/* ¿Porque no se aplica el radio a los vertices cuando se lo aplico al div que lo contiene? */

.boton-secundario {
	padding: 16px 32px;
	background-color: var(--naranja);
	border: solid 1px var(--naranja-oscuro);
	border-radius: 32px;
	text-align: center;
	color: var(--naranja-oscuro);
}

/* FIN INDEX */



/* PERRITOS */
.perritos_main{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.filtro{
	border-radius: 15px;
	background: var(--amarillo);
	width: 263px;
	height: 960px;
	margin: 25px;
	display: flex;
	padding: 27px 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 48px;
}

label{
	display: block;
	width: auto;
	height: 32px;
	gap: 16px;	
}

.opciones_filtro{
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: flex-start;
}

.perfiles{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 27px 24px;
	align-items: flex-start;
	gap:10px;
	width: 56%;
}

/* FIN PERRITOS */


/* FUNDACIÓN */

/* FIN FUNDACIÓN */


/* PREGUNTAS FRECUENTES */

/* FIN PREGUNTAS FRECUENTES */

/* COLABORAR */
/* FIN COLABORAR */


/* DONAR */
header {
	display: flex;
	flex-direction: column;
}
/*============================*/

.donacion {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 154px 264px;
	align-items: center;
	background-color: var(--amarillo-claro);
}

.parrafodonacion {
	max-width: 792px;
	height: 302px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 24px;
	margin-left: 48px;
	font-size: 24px;
}

.boton-Donar {
	width: 360px;
	height: 64px;
	background-color: var(--naranja);
	padding: 16px 48px;
	text-align: center;
	border-radius: 30px;
	color: white;
	font-family: Dosis;
	font-size: 32px;
	transform-origin: center;
	padding-left: 1px;
    padding-right: 0px;
    padding-top: 10px;
}

.boton-Donar:hover {
	background-color: var(--naranja-oscuro);
}

.boton-Donar:active {
	background-color: var(--naranja-claro);
	color: var(--naranja-oscuro);
}

.boton-Donar2 {
	width: 360px;
	height: 64px;
	background-color: var(--naranja);
	padding: 16px 48px;
	text-align: center;
	border-radius: 30px;
	color: white;
	font-family: Dosis;
	font-size: 28px;
	transform-origin: center;
	padding-left: 1px;
    padding-right: 0px;
    padding-top: 10px;
}

.boton-Donar2:hover {
	background-color: var(--naranja-oscuro);
}

.boton-Donar2:active {
	background-color: var(--naranja-claro);
	color: var(--naranja-oscuro);
}

.foto_Donar {
border-radius: 40px; 
border: 8px solid var(--naranja);
}
/*============================*/

.necesitamos {
	width: 100%;
	height: 444px;
	background-color: var(--naranja);
	display: flex;
	padding: 80px 264px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;
	color: white;
}

.necesitamosarticulos {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 80px;
	font-size: 32px;
	text-align: center;
	align-self: stretch;
}

section h2 {
	font-family: Dosis;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 64px;
}

section article div {
	font-family: Dosis;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
}
/*============================*/

.dinero {
	width: 100%;
	height: 881px;
	display: flex;
	flex-direction: column;
	background-color: var(--amarillo-claro);
	padding: 0px 264px;
	justify-content: center;
	align-items: center;
	gap: 48px;
}

.cadacentavo {
	display: flex;
	flex-direction: row;
	padding-top: 68px;
	width: 1392px;
	height: 440px;
	margin: 0px auto;
	justify-content: center;
	align-items: center;
	gap: 48px;
	align-self: stretch;
}

.textocadacentavo {
	width: 912px;
	height: 320px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 46px;
}

section div h2 {
	color: var(--naranja);
	font-family: Dosis;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 64px;
}

section div p {
	font-family: Asap;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0.25px;
}

.precios {
	display: flex;
	height: 250px;
	justify-content: center;
	align-items: center;
	gap: 48px;
}

.monto {
	text-align: center;
	font-family: Dosis;
	font-size: 40px;
	font-weight: 600;
	
}

.producto {
	text-align: center;
	font-family: Asap;
	font-size: 25px;
	font-weight: 400;
}
/*============================*/

.medicamentos {
	width: 100%;
	padding: 0px 164px;
	display: flex;
	flex-direction: column;
	background-color: var(--amarillo-claro);
	gap: 86px;
}

.fotoytexto {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 48px;
}

.textomedicamentos {
	width: 912px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 32px;
}

.grid-container {
	width: 1393px;
	height: 1134px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 48px;
}

article ul li {
	width: 426px;
	height: 149px;
	display: flex;
	padding: 24px;
	align-items: flex-start;
	gap: 24px;
	border-radius: 24px;
	background-color: var(--naranja);
	box-shadow: -10px 9px 20.9px 0px rgba(29, 47, 69, 0.30);
}

.grilla-medicamentos {
	align-items: center;
	margin: 0px auto;
	margin-bottom: 96px;
}

.texto-medicamento {
	font-family: Dosis;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 36px;
	color: white;
}

.descripcion-medicamento {
	font-family: Dosis;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
}

.flex-medicamentos {
	display: flex;
	flex-direction: column;
}
/* FIN DONAR*/


/* Page not found */

.not-found {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	background-color: rgb(48, 45, 45);
	gap: 40px;
}

.mensaje-not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
	padding-top: 12%;
	color: var(--naranja);
	font-size: 2em;
}

.salchichin {
	animation: salchicha 3s linear infinite;
    }

@keyframes salchicha {
    0% {
        transform: rotate(-360deg);
    }
}


/* Fin Page not found */


/* Header y Footer */
header, footer {
	width: 100%;
	background: rgba(174,222,224,100);
	color: #191414;
	display: flex;
	justify-content: center;
	padding: 0 20px;
}


header a, footer a {
	font-family: "Dosis", sans-serif;
}

/* Header */
header, footer {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0 20px;
}


header a, footer a {
	font-family: "Dosis", sans-serif;
}

/* Header */
header {
	background: var(--azul);
	color: var(--azul-oscuro);
	border-bottom: solid 1px var(--azul-oscuro);
}
header nav, header nav ul {
	display: flex;	
}

header nav {
    width: 100%;
	max-width: 1200px;
    justify-content: space-between;
	gap: 50px;
	font-weight: 700;
	font-size: 1.2rem;
	margin: 12px;
}

header nav ul {
	width: 100%;
	justify-content: flex-end;
    gap: 25px;
	align-items: center;	
}
header a {
	color: var(--azul-oscuro);
}

header li a {
	display: flex;
	align-items: center;
	border-radius: 5px;
	padding: 8px 20px;
	min-width: max-content;
	letter-spacing: 0.03rem;
}

header li a:hover {
	background: var(--azul-claro);
}

.boton-destacado a {
	color: var(--naranja-oscuro);
    background: var(--naranja);
    border: solid 1px var(--naranja-oscuro);
}

.boton-destacado a:hover {
	background: var(--amarillo);
	color: var(--amarillo-oscuro);
    border: solid 1px var(--amarillo-oscuro);
	transform: scale(1.03);
	transform-origin: center;
}

/* Footer */
footer {
	background: var(--naranja);
	color: var(--naranja-oscuro);
	border-top: solid 1px var(--naranja-oscuro);
}

footer a{
	color: var(--naranja-oscuro);
}

.footer-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	margin: 48px 0;
	gap: 48px;
}
.site-map img{
	margin-left: 12px;
}
.site-map {
    flex-grow: 1;
}

.site-map ul {
    display: flex;
	margin-top: 18px;
    flex-direction: column;
    gap: 12px;
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: 0.03rem;
}

.site-map a{
	color: var(--naranja-oscuro);
	padding: 4px 12px;
	border-radius: 5px;
}
.site-map a:hover{
	background: var(--naranja-claro);
}
.info-contacto {
    flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	max-width: 240px;
	gap: 14px;
}
.redes-sociales {
	display: flex;
	align-content: center;
	gap: 12px;
	padding: 8px 20px;
	background: var(--naranja-claro);
	border-radius: 30px;
}
.redes-sociales a{
	display: flex;
    align-content: center;

}
.redes-sociales img:hover{
	transform: scale(1.09);
	transform-origin: center;
}
/* Formulario Footer */
.formulario-contacto {
    flex-grow: 1;
	margin-top: 50px;
}

.formulario-contacto form {
	display: flex;
	flex-direction: column;
	width: 500px;
}

.formulario-contacto input, .formulario-contacto textarea {
    margin-bottom: 12px;
    height: 40px;
    border: 1px solid var(--amarillo-oscuro);
    border-radius: 14px;
    padding: 14px;
}
.formulario-contacto textarea {
	min-width: 500px;
	max-width: 500px;
	min-height: 60px;
	max-height: 120px;
}

textarea#mensaje, input#nombre, input#correo {
    font-family: "Asap", sans-serif;
	font-size: 0.9rem;
}

::placeholder, ::-ms-input-placeholder {
  color: var(--gris-claro);
}

.formulario-contacto button {
	padding: 8px 20px;
	border: none;
	border-radius: 20px;
	width: fit-content;
	background: var(--amarillo);
	font-family: "Dosis", sans-serif;
	font-weight: 700;
	font-size: 1rem;
	color: var(--amarillo-oscuro);
	letter-spacing: 0.03rem;
	border: 1px solid var(--amarillo-oscuro);
}

.formulario-contacto button:hover {
	background: var(--amarillo-claro);
	transform: scale(1.03);
	transform-origin: center;
}
